
  <body>
    <main-header parallaxView="parallaxfood"></main-header>
    <title-containered title="Un viaje para el paladar"></title-containered>
    <main>
      <section>
        <div>
          <p class="minititulos">¿Qué te apetece comer hoy?</p>
        </div>
        <div class="with-limits">
        <title-containered title="INDONESIA"></title-containered>
        <div class="foodexplainleft food">
          <img alt="satay" src="/../assets/images/SatayAyamp.jpg" />
          <p class="foodtitle">Satay Ayam</p>
          <p>
            Pollo y cacahuete, una combinación que no puede fallar. En cualquier
            rincón podrás degustrar estas fantásticas brochetas bañadas en un
            potente salsa de cacahuete, soja y gengibre. Un plato común y barato
            para cualquier momento.
          </p>
        </div>
      </div>
      <div class="with-limits">
        <title-containered title="INDIA"></title-containered>
        <div class="foodexplainright food">
          <img alt="lassy" src="/../assets/images/Lassyp.jpg" />
          <p class="foodtitle">Lassi</p>
          <p>
            Entre yogur y batido en India podemos encontrar este lácteo. Bebida
            refrescante y dulzona elaborada con yogur acompañador de diferentes
            sabores (mango, plátano...).
          </p>
        </div>
      </div>
      <div class="with-limits">
        <title-containered title="MARRUECOS"></title-containered>
        <div class="foodexplainleft food">
          <img alt="pastilla" src="/../assets/images/Pastillap.jpg" />
          <P class="foodtitle">Pastilla</P>
          <p>
            Un plato común de la zona norte de marruecos. Rellena de pollo
            calabaza y cebolla y envuelta en un fino hojaldre espolvoreado con
            azucar de caña y canela.
          </p>
        </div>
      </div>
      </section>
    </main>

    <footer-component></footer-component>

    <script src="../CSS/myscript.js"></script>
    <!-- Aqui linkaremos el fichero de nuestros javascripts -->
  </body>

