



<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../iconos/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../iconos/favicon-16x16.png"
    />
    <link rel="manifest" href="../iconos/site.webmanifest" />
    <link
      rel="mask-icon"
      href="../iconos/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#774040" />
    <title>Viajando en pareja</title>
  </head>


  <body>
    <main-header parallaxView="parallaxfood"></main-header>
    <main>
      <section>
        <div class="explain">
          <p>Un viaje para el paladar</p>
        </div>
        <div>
          <p class="minititulos">¿Qué te apetece comer hoy?</p>
        </div>
        <div class="foodmaintitleleft">INDONESIA</div>
        <div class="foodexplainleft food">
          <img alt="satay" src="/../assets/images/SatayAyamp.jpg" />
          <p class="foodtitle">Satay Ayam</p>
          <p>
            Pollo y cacahuete, una combinación que no puede fallar. En cualquier
            rincón podrás degustrar estas fantásticas brochetas bañadas en un
            potente salsa de cacahuete, soja y gengibre. Un plato común y barato
            para cualquier momento.
          </p>
        </div>
        <div class="foodmaintitleright">INDIA</div>
        <div class="foodexplainright food">
          <img alt="lassy" src="/../assets/images/Lassyp.jpg" />
          <p class="foodtitle">Lassi</p>
          <P>
            Entre yogur y batido en India podemos encontrar este lácteo. Bebida
            refrescante y dulzona elaborada con yogur acompañador de diferentes
            sabores (mango, plátano...).</P
          >
        </div>
        <div class="foodmaintitleleft">MARRUECOS</div>
        <div class="foodexplainleft food">
          <img alt="pastilla" src="/../assets/images/Pastillap.jpg" />
          <P class="foodtitle">Pastilla</P>
          <p>
            Un plato común de la zona norte de marruecos. Rellena de pollo
            calabaza y cebolla y envuelta en un fino hojaldre espolvoreado con
            azucar de caña y canela.
          </p>
        </div>
      </section>
    </main>

    <footer-component></footer-component>

    <script src="../CSS/myscript.js"></script>
    <!-- Aqui linkaremos el fichero de nuestros javascripts -->
  </body>
</html>
