<main-header parallaxView="parallaxplaces"></main-header>
<br>
<br>
<section> <!-- Section en castellano -->
    <div class="explain" >Acompáñanos en nuestra ruta por Marruecos</div>
    <article>
    <div >
        <ul class="commonlist">
            <li><a class="linkJump" (click)="goToSection('seccion1')">Día 1: Vuelo BCN – Tanger. Coche hasta Chefchauen</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion2')"> Día 2:Chefchauen – Voluvilis - Fez</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion3')"> Día 3: Fez</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion4')"> Día 4 : Fez – Ifrane – Mildet - Errachidía</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion5')"> Día 5: Errachidía - Erfoud - Mergouza noche desierto</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion6')"> Día 6: Mergouza – Todra</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion7')"> Día 7: Todra - Dades - Uarzazate – Ait BenHaddoute</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion8')"> Día 8: Ait BenHaddou - Ozoud</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion9')"> Día 9: Ozoud - Essaouira</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion10')"> Día 10: Essaouira - Marrakech</a> </li>
            <li><a class="linkJump" (click)="goToSection('seccion11')"> Día 11 - 13: Marrakech</a> </li>
        </ul>
    </div>
    <h2 id="seccion1"  class="minititulos">Día 1: Vuelo BCN – Tanger. Coche hasta Chefchauen</h2>
    <div class="daystyle">                     
        <p>Llegada a Tanger, recogemos el coche de alquiler, si nos apetece podemos visitar Asilah, pasar allí la mañana y después ir hasta Chefchauen. Visitar la medina de la ciudad azul y sus alrededores. Cena y noche.
        </p>           
    </div>
    <div id="seccion2" class="daystyle">
        <h3 class="minititulos">Día 2:Chefchauen – Voluvilis - Fez</h3> 
        <p>Por la mañana aprovechar que es martes y visitar el mercado de Chefchauen. Después seguiremos con nuestra ruta con destino FEZ, es una de las cuatro ciudades llamadas imperiales junto a Marrakech, Meknes y Rabat. De camino podemos parar en Voluvilis. Una vez llegados a Fez la ciudad se divide en tres zonas, Fez el Bali, la zona antigua, dentro de las murallas, Fez-Jdid, la zona nueva, donde se encuentra la Mellah, el barrio judío, y la Ville Nouvelle (Villa Nueva), la zona francesa en el noroeste de la ciudad. La medina de Fez el Bali, la mayor de las dos de la ciudad, es la mayor zona peatonal del mundo, y fue declarada Patrimonio de la Humanidad por la Unesco en 1981</p>               
    </div>
    <div id="seccion3" class="daystyle">
        <h3 class="minititulos">Día 3: Fez</h3> 
        <p>Por la mañana aprovechar que es martes y visitar el mercado de Chefchauen. Después seguiremos con nuestra ruta con destino FEZ, es una de las cuatro ciudades llamadas imperiales junto a Marrakech, Meknes y Rabat. De camino podemos parar en Voluvilis. Una vez llegados a Fez la ciudad se divide en tres zonas, Fez el Bali, la zona antigua, dentro de las murallas, Fez-Jdid, la zona nueva, donde se encuentra la Mellah, el barrio judío, y la Ville Nouvelle (Villa Nueva), la zona francesa en el noroeste de la ciudad. La medina de Fez el Bali, la mayor de las dos de la ciudad, es la mayor zona peatonal del mundo, y fue declarada Patrimonio de la Humanidad por la Unesco en 1981</p>               
        <p>Si entramos por la "Puerta Azul" una vez dentro de la medina, se extienden dos largas y estrechas calles principales: Talaa Kebira y Talaa Seghira. Lo ideal es subir por una y bajar por la otra aunque sin dejar de callejear por todo el zoco. Si escogemos la primera, nos encontraremos pronto con la Madrasa Bou Inania, una de las escuelas clásicas más famosas de Fez. Al final de la calle Talaa Kebira, buscar en una plazoleta la Nejjarine Fondouk, más conocida como la fuente en el corazón de la medina, donde la gente va a coger agua para purificarse.</p>
        <p>Desde allí podemos acercarnos a echar un vistazo a través de las puertas (porque no está permitido entrar) a la zaouia Moulay Idriss, una escuela religiosa con la tumba dedicada a Moulay Idriss, que rigió la ciudad de Fez en el siglo IX. </p>
        <p>Otras paradas en el recorrido son la mezquita y la universidad Karaouiyne, aunque el acceso también está vetado, pero se puede ver desde fuera la que está considerada la universidad más antigua del mundo.</p>
        <p>A partir de ahí y en cualquier callejuela que nos metamos, nos empezarán a ofrecer visitas a tejados y terrazas para ver las tanneries o curtidurías. Lo que es seguro es que en todas hay truco. Nos dirán que la entrada es gratuita, pero una vez allí van a tratar de vendernos algo sí o sí, o al menos que les demos un donativo. Un euro suele ser suficiente si no compramos nada. En cualquier caso merece la pena dejarse engañar porque la vista es fascinante (cuanto más cerca del río mejor, ya que en esa zona están las curtidurías más grandes). Nosotros no tuvimos que pagar nada.</p>
    </div>
    <div id="seccion4" class="daystyle">
        <h3 class="minititulos">Día 4 : Fez – Ifrane – Mildet - Errachidía</h3>    
        <p>Salida temprano para ver los lagos de Ifrane. Cuando fuimos nosotros estaban muy secos!! Pasaremos por el bosque de cedros y monos. Seguiremos el camino y atravesaremos el Medio Atlas, haremos una parada en el pueblo de Mildet, continuaremos con la ruta atravesando el valle del Ziz hasta Ifri donde tenemos hotel para pasar la noche</p>            
    </div>
    <div id="seccion5" class="daystyle">
        <h3 class="minititulos">Día 5: Errachidía - Erfoud - Mergouza noche desierto</h3> 
        <p>Nos ponemos en ruta de nuevo hacia el lago de Errachidía, parada en Efroud hasta llegar a Merzouga y contratar una excursión al desierto. </p>
        <p>Preguntamos en varios sitios y la contratamos en un hotel que se llama La Suerte Loca, costó 35€ por persona, incluido dromedario ida/vuelta, cena y desayuno. Antes de salir puedes quedarte disfrutando del hotel, tiene piscina. Al día siguiente el desayuno es en el hotel y te dejan una habitación para ducharte.
        </p>               
    </div>
    <div id="seccion6" class="daystyle">
        <h3 class="minititulos">Día 6: Mergouza – Todra</h3>  
        <p>Nos despertaremos antes del amanecer para contemplar la salida del sol desde la Gran Duna. Regreso en dromedarios al pueblo de Merzouga. Vuelta a nuestro coche, parada en el oasis de Tissardmine (Al final no hicimos esta parada). Hacemos camino hasta el pueblo de Alnif donde empieza la pista para llegar a la famosa Gargantas del Todra, allí haremos un trekking de unas 3 horas. Cena y alojamiento.</p>
        <p>Este día nos llovió bastante así que finalmente hicimos un paseo cortito y tarde de relax.</p>              
    </div>
    <div id="seccion7" class="daystyle">
        <h3 class="minititulos">Día 7: Todra - Dades - Uarzazate – Ait BenHaddoute</h3>
        <p>Pasaremos por la famosa carretera de curvas (barranco de Tissadrine).
        </p>
        <p>Atravesaremos el Valle del Dades, conociendo diversos pueblos bereberes. Seguiremos camino por una pista de montaña hasta AMGOUNE, en el camino veremos nómadas en cuevas, pasaremos por el Valle de las ROSAS, y visitaremos la kasbah de AMRIDILE. (Precio 50 DAM). Cuando atravesemos el palmeral de Skoura aprovechar para comprar dátiles, se cultivan hasta 33 tipos diferentes! </p>
        <p>Llegaremos al lago de Ouarzazate, lugar muy recomendado para hacer una parada comer. Visitar su impresionanate kasbah (entrada gratuita, todavía viven en ella). Nosotros visitamos también un museo de cine, hay tres diferentes vimos el de enfrente de la Kashba que era baratito 30 DAM.</p>
        <p>Cena y noche en un hotel superchulo.</p>                
    </div>
    <div id="seccion8" class="daystyle">
        <h3 class="minititulos">Día 8: Ait BenHaddou - Ozoud</h3>
        <p>Por la mañana después del desayuno continuamos Seguiremos el camino hasta llegar a la Kasbah de AIT BEN-HADDOU, se trata de un espectacular poblado de arcilla y piedra con edificios rodeados por grandes murallas, aspecto que lo convierten en uno de los lugares más bellos de Marruecos. Esta Kasbah es la que sale en películas como Lawrence de Arabia, Gladíator o La Momia. Yunkai en GOT. </p>
        <p>El camino para cruzar las montañas del Alto Atlas por el puerto de T’ichka a 2.260 metros de altura. Paradas en lugares estratégicos con magníficas vistas panorámicas para hacer fotos. La típica carretera de curvas de las fotos o no la encontramos o ya no existe, creemos que fuimos por esa pero están en obras renovándola toda. </p>
        <p>Dormimos cerca de las cataratas de Ozoud. Cuando nosotros fuimos estaban marrones, no sabemos si por la lluvia o por la época.</p>                                   
    </div>
    <div id="seccion9" class="daystyle">
        <h3 class="minititulos">Día 9: Ozoud - Essaouira</h3>  
        <p>Visitar las cascadas de Ozoud. Cobran 10 Dam por aparcar en casi cualquier sitio que visitas. Conducimos hasta Essouira para visitarla mañana. Ver el atardecer al Skala de la Ville y cenamos en un italiano buenisimo en la medina (Baladin)</p>              
    </div>
    <div id="seccion10" class="daystyle">
        <h3 class="minititulos">Día 10: Essaouira - Marrakech</h3> 
        <p>Visitar Essaouira, está a unas dos horas de Marrakesh hacia la costa. Hay una autovía que separa ambas ciudades. Es un lugar tranquilo cuyo centro está muy bien arreglado y conserva su encanto.</p>  
        <p>Paseando por la ciudad cruzaremos por la Plaza Mulay Hussein, que es el nexo entre la zona amurallada y el puerto de la ciudad. El puerto es un lugar encantador en el que aún se pesca al modo tradicional. Si vamos por la mañana temprano podemos ver a los pescadores descargando los barcos y limpiando todos los aperos de pesca.</p>              
    </div>
    <div id="seccion11" class="daystyle">
        <h3 class="minititulos">Día 11 - 13: Marrakech</h3>      
        <p>Dedicaremos estos días a Marrakech. La ciudad posee el mercado tradicional más grande del país y una de las plazas más concurridas de África y del mundo, Djemaa el Fna. Los zocos cierran los viernes!!</p>          
        <p>Qué ver en la medina</p>
        <ul>
            <li>Zoco Rahba Kedima. Es una pequeña plaza en la que puedes encontrar productos de artesanía, ungüentos, puestos de sombreros y cestas de palma y esparto, etc. Para que te orientes, en esta plaza se sitúa el famoso Café de las Especias o Café des Epices. Un local europeo bastante cuqui en el que parar a tomarte un piscolabis.</li>
            <li>Zoco el Batna. Aquí puedes hacerte con unas cuantas pieles de cordero listas para trabajarse.</li>
            <li>Zoco Joutia Zrabi o zoco bereber. ¿Qué tal una alfombrita para decorar tu casa? A este zoco llegan las alfombras de todo el Atlas, allí se procede a la subasta y compra por parte de los tenderos, alfombreros o como se llamen. Vamos que es una especie de lonja de alfombras.</li>
            <li>Alcaicerías. Esta zona del zoco es el lugar donde antaño se vendían las mercancías más valiosas, especialmente la seda. Hoy en día la seda ha pasado a la historia y en su lugar se venden prendas de ropa.</li>
            <li>La Madrasa de Ben Youssef: Se sitúa al norte del área de zocos. Abierta de 8 a 17h. Es el lugar donde se estudía El Coran.</li>
            <li>Palacio de la Bahia: situado al sur de la medina. Tiene 150 habitaciones.</li>
            <li>Mezquita Koutoubia: situada en la famosa plaza, es el minarete típico que se ve en las fotos. La entrada esta prohibida para los no musulmanes.</li>
            <li>Plaza Jama el Fna: Durante la noche se convierte en un espectáculo, al caer el sol la vida de esta plaza se vuelve frenética. Se llena de bailes, juegos y puestos donde probar su exquisita comida callejera. La plaza en sí es toda una experiencia. Uno de los días ver el atardecer en una terraza.</li>
            <li>Tumbas Saadies: mausoleo con más de 170 tumbas.</li>
            <li>Jardín de Menara: grandes con olivos que rodean un lago. Difícil resguardarse del sol.</li>
            <li>Jardín Majorelle: ubicados en La Ville Nouvelle. Un rincón lleno de paz para descansar del barullo.</li>
            <li>Visitar un Hammam </li>
        </ul>
    </div>                           
</article>
</section>

<footer-component></footer-component>