
      /* FOOTER*/
    
    
      .footerstyle {
        margin-top: 80Px;
        text-align: center;
        background-color: #cbe682; 
        height: 80px;
        padding-top: 5px;
      }
    
      .icon{
        width: 20px;
        height: 20px;
        margin-left: 5px;
      }
    
      .iconsfooter{
        font-size: 8px;
      }
    