* {
    font-family: sans-serif;
    box-sizing: border-box;
    }
    
    article,main{
      margin-left: 5%;
      margin-right: 5%;
    }
    
    // /*header*/
    // .topmenu img{
    //   height: 100px;
    // }
    
    
    // .topmenu{
    //   text-align: center;
    //   margin-bottom: 10px;
    //   font-size: 60px;   
    //   font-family: 'Amatic SC';
    //   font-style: italic;
    //   color: rgb(226, 99, 120);
    //   font-weight: bolder;
    // }
    
    // .topbar{
    //   text-align: center;
    //   background-color: #cbe682; 
    //   opacity: 80%;
    //   height: 40px;
    // }
    
    // .center {
    // display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 50%;
    
    // }
    
    
    // :target::before{
    //   content: "";
    //   position: relative;
    //   display: block;
    //   top: 100px;
    // }
    
    /* body */
    .responsive {
        max-width: 100%;
        height: auto;
        width: auto;
        
        
      }
    
      .map{
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
      }
    
     .explain{
       text-align: center;
     padding-top: 30px;
     padding-bottom: 30px;
     height: 30px;
     }
    
     .commonlist {
      list-style: none;
      text-align: center;
      padding-bottom: 20px;
      font-size: 40px;
      font-weight: bold;
      color: rgb(23, 122, 48);
      text-decoration: solid;
      text-shadow: 1px 1px 3px rgb(112, 189, 112);
      font-family: 'Amatic SC';
      padding-bottom: 80px;
      }
  .commonlist li{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
  }    
  .commonlist  a{
    font-size: 40px;
    font-weight: bold;
    color: rgb(23, 122, 48);
    text-decoration: solid;
    text-shadow: 1px 1px 3px rgb(112, 189, 112);
    font-family: 'Amatic SC';
  }
  .commonlist a:hover{
    text-shadow: 1px 1px 3px hotpink;
  }
    
    // #listamenu li{
                    
    //     display:inline;
    //     padding-left:20px;
    //     padding-right:30px;
    //     line-height: 40px;
    // }
    // #listamenu a{
    //   font-size: 25px;
    //   font-weight: bold;
    //   color: rgb(23, 122, 48);
    //   text-decoration: solid;
    //   text-shadow: 1px 1px 3px rgb(112, 189, 112);
    //   font-family: 'Amatic SC';
    // }
    
    // #listamenu a:hover, a:active{
    //   text-shadow: 1px 1px 3px hotpink;
    // }
    
    // #listamenu2 li{
                    
    //   display:inline;
    //   padding-left:20px;
    //   padding-right:30px;
    //   line-height: 40px;
    // }
    // #listamenu2 a{
    // font-size: 25px;
    // font-weight: bold;
    // color: rgb(23, 122, 48);
    // text-decoration: solid;
    // text-shadow: 1px 1px 3px rgb(112, 189, 112);
    // font-family: 'Amatic SC';
    // }
    
    // #listamenu2 a:hover, a:active{
    // text-shadow: 1px 1px 3px hotpink;
    // }
    
    

    .countrylist{
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(/assets/images/Continentsm.jpg);
      background-position: 50% 40%;
    }
    
      .espacio{
          margin-top: 10px;
      }
    
      .minititulos{
          text-align: center;
          font-size: 40px;
          padding-bottom: 40px;
          color: rgba(104, 46, 23, 0.829);
          font-family: 'Amatic SC';
          font-weight: bolder;
          
      }
    
    /*destinos*/
    .daystyle{
      padding-top: 50px;
    }
    .daystyle p{
      padding-bottom: 4px;
    }
    
    .daystyle li{
      list-style-type: square;
      padding-bottom: 5px;
    }
  
    
     /*reponsive text */       
      @media (max-width: 870px){
        .map {
            display: none;
            
        }
      }
    
    
    @media (min-width : 871px)  {
    .countrylist{
        display: none;
    }
    
    
    }
    
    @media (max-width : 800px)  {
        .lateral{
            display: none;
        }
        
        .postreciente figcaption{
        text-align: center;
        
        
        }
        .dropdown{
          display: list-item ;
        }
      }
    @media (max-width : 600px){
      #listamenu li{
                    
        display:inline;
        padding-left:5px;
        padding-right:5px;
        line-height: 40px;
    }
    }
    

    .postreciente{
      text-align: center;
      
      
    }
    
    .postreciente li{
      
      padding-left: 0;
      display: inline-block;
      padding-bottom: 25px;
      
    }
    
    .dropdown-content a {
      color: rgb(23, 122, 48);
      padding: 12px 16px;
      font-family: 'Amatic SC';
      font-size: 20px;
      text-decoration: solid;
      font-weight: bolder;
      display: block;
      z-index: 2;
    }
    
   