<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Amatic%20SC"
/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/iconos/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/iconos/favicon-16x16.png"
/>
<link rel="manifest" href="/iconos/site.webmanifest" />
<link rel="mask-icon" href="/iconos/safari-pinned-tab.svg" color="#5bbad5" />
<meta name="msapplication-TileColor" content="#da532c" />
<meta name="theme-color" content="#774040" />
<title>Viajando en pareja</title>

<main-header parallaxView="parallaxhome"></main-header>

<main>
  <section class="es">
    <p class="explain">Bienvenidos a nuestro pequeño rincón</p>
    <article>
      <p class="espacio, minititulos">¿A dónde quieres ir?</p>
    </article>
    <div class="map">
      <img
        src="/../assets/images/Continentscountries.png"
        alt="mapa paises"
        usemap="#countries"
        width="800"
        height="400"
      />
      <map-component
        *ngFor="let country of mapCountries"
        name="{{ country.name }}"
        path="{{ country.path }}"
        coords="{{ country.coords }}"
      ></map-component>
    </div>
    <div class="countrylist">
      <ol class="commonlist">
        <li><a routerLink="/destinations">Europa</a></li>
        <li><a routerLink="/destinations">America</a></li>
        <li><a routerLink="/destinations">Africa</a></li>
        <li><a routerLink="/destinations">Asia</a></li>
        <li><a routerLink="/destinations">Oceania</a></li>
      </ol>
    </div>
    <div>
      <p class="espacio, minititulos">Posts recientes</p>
      <ul class="postreciente">
        <li *ngFor="let post of posts">
          <recent-post
            title="{{ post.title }}"
            url="{{ post.path }}"
            ima="{{ post.img }}"
          ></recent-post>
        </li>
      </ul>
    </div>
  </section>
</main>
<footer-component></footer-component>
