
<main-header parallaxView="parallaxcontact"></main-header>

<section >
    <div class="explain">
      <p>No te pierdas nuestras aventuras!</p>
      <p>Dinos que país te gustaría visitar y cuantos días y te envíaremos una propuesta de viaje</p>
    </div>                
      <form class="formstyle" action="info.txt" target="_self" >
        <div class="formcenter">
       <label for="nameInput" >Nombre: </label>
        <input id="nameInput" type="text" [(ngModel)]="name" name="nameInput" placeholder="Nombre">
      </div>
        <div class="formcenter">
        <label for="apellido">Apellido: </label>
        <input id="apellido" type="text" placeholder="Apellido" [(ngModel)]="surname" name="surnameInput">
      </div>
        <div class="formcenter">
        <label for="country">País: </label>
        <input id="country" type="text" [(ngModel)]="country" name="countryInput">
      </div>
        <div class="formcenter">                  
        <label for="dias" >Dias: </label>
        <input id="dias" type="number" [(ngModel)]="days" name="daysInput">
      </div>
       <div class="formcenter"> 
        <label for="email">Correo: </label>
          <input type="email" id="email" name="email" placeholder="name@example.com" required [(ngModel)]="mail" name="mailInput">
          <input type="hidden">
        </div>
        <div class="formcenter">
          <input class="submitbutton" type="submit" value="Enviar" (click)="sendAlert()">
        </div>
        </form>
        <div class="guide">
          <p>Para empezar aquí tienes nuestra guía de Marruecos, disfrútala!</p>
          <a href="/../assets/images/Marruecos2019.pdf" download><img alt="guide" src="/../assets/images/mapamarruecos.jpg"></a>
        </div>
        <!--TODO: asdad-->

  </section>
<footer-component></footer-component>


/destiantions/:id