*{
  font-family: Comfortaa;
}

.submitbutton{
    color: rgb(23, 122, 48);
    background-color: #cbe682;
    border: none;
    font-size: 18px;
    padding: 30px,30px;
    border-radius: 7px;
    font-family: 'Amatic SC';
    height: 30px;
    width: 120px;
    font-weight: bold;
    letter-spacing: 1px;
    
  }

  .formstyle{
  margin: 10px;
  }


  
.formcenter{
  text-align: center;
  padding: 5px;
}
  
.formcenter label{
  display: inline-block;
  text-align: right;
  width: 80px;
  margin-right: 5px;
  }

  .guide{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
  }

  .guide p{
    padding: 10px;
  }

  .guide img{
    width: 300px;
  }

  .explain{
    text-align: center;
  padding-top: 0px;
  padding-bottom: 30px;
  height: 30px;
  }
