
.language{
    text-align: right;  
    margin-top: 8px;
    margin-right: 5px;
  }
  .language button{
    border:  none;
    background: none;
  }
  .language img{
    height: 20px;
    width: 20px;
  }